<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemName</key>
		<string>美颜</string>
		<key>maxFace</key>
		<integer>4</integer>
		<key>enble</key>
		<false/>
		<key>itemType</key>
		<integer>0</integer>
		<key>modules</key>
		<array>
			<integer>1</integer>
		</array>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>itemName</key>
		<string>美妆</string>
		<key>maxFace</key>
		<integer>4</integer>
		<key>enble</key>
		<false/>
		<key>itemType</key>
		<integer>0</integer>
		<key>modules</key>
		<array>
			<integer>524288</integer>
		</array>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>itemName</key>
		<string>美发</string>
		<key>maxFace</key>
		<integer>4</integer>
		<key>enble</key>
		<false/>
		<key>itemType</key>
		<integer>0</integer>
		<key>modules</key>
		<array>
			<integer>524288</integer>
		</array>
		<key>items</key>
		<array>
			<string>icon_gradualchangehair_01</string>
			<string>icon_gradualchangehair_02</string>
			<string>icon_gradualchangehair_03</string>
			<string>icon_gradualchangehair_04</string>
			<string>icon_gradualchangehair_05</string>
			<string>hair_color_1</string>
			<string>hair_color_2</string>
			<string>hair_color_3</string>
			<string>hair_color_4</string>
			<string>hair_color_5</string>
			<string>hair_color_6</string>
			<string>hair_color_7</string>
			<string>hair_color_8</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>手势识别</string>
		<key>maxFace</key>
		<integer>4</integer>
		<key>enble</key>
		<false/>
		<key>itemType</key>
		<integer>8</integer>
		<key>modules</key>
		<array>
			<integer>512</integer>
		</array>
		<key>items</key>
		<array>
			<string>ctrl_rain</string>
			<string>ctrl_snow</string>
			<string>ctrl_flower</string>
			<string>ssd_thread_korheart</string>
			<string>ssd_thread_cute</string>
			<string>ssd_thread_six</string>
			<string>ssd_thread_thumb</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>哈哈镜</string>
		<key>maxFace</key>
		<integer>4</integer>
		<key>enble</key>
		<false/>
		<key>itemType</key>
		<integer>9</integer>
		<key>modules</key>
		<array>
			<integer>65536</integer>
		</array>
		<key>items</key>
		<array>
			<string>facewarp2</string>
			<string>facewarp3</string>
			<string>facewarp4</string>
			<string>facewarp5</string>
			<string>facewarp6</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>AR面具</string>
		<key>maxFace</key>
		<integer>4</integer>
		<key>enble</key>
		<false/>
		<key>itemType</key>
		<integer>3</integer>
		<key>modules</key>
		<array>
			<integer>32</integer>
			<integer>64</integer>
		</array>
		<key>items</key>
		<array>
			<string>bluebird</string>
			<string>lanhudie</string>
			<string>fenhudie</string>
			<string>tiger_huang</string>
			<string>tiger_bai</string>
			<string>afd</string>
			<string>baozi</string>
			<string>tiger</string>
			<string>xiongmao</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>道具贴纸</string>
		<key>maxFace</key>
		<integer>4</integer>
		<key>enble</key>
		<false/>
		<key>itemType</key>
		<integer>2</integer>
		<key>modules</key>
		<array>
			<integer>2</integer>
			<integer>4</integer>
		</array>
		<key>items</key>
		<array>
			<string>bling</string>
			<string>fengya_ztt_fu</string>
			<string>hudie_lm_fu</string>
			<string>touhua_ztt_fu</string>
			<string>juanhuzi_lm_fu</string>
			<string>mask_hat</string>
			<string>yazui</string>
			<string>yuguan</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>动漫滤镜</string>
		<key>maxFace</key>
		<integer>4</integer>
		<key>enble</key>
		<false/>
		<key>itemType</key>
		<integer>1</integer>
		<key>modules</key>
		<array>
			<integer>16</integer>
		</array>
		<key>items</key>
		<array>
			<string>fuzzytoonfilter1</string>
			<string>fuzzytoonfilter2</string>
			<string>fuzzytoonfilter3</string>
			<string>fuzzytoonfilter4</string>
			<string>fuzzytoonfilter5</string>
			<string>fuzzytoonfilter6</string>
			<string>fuzzytoonfilter7</string>
			<string>fuzzytoonfilter8</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>换脸</string>
		<key>maxFace</key>
		<integer>4</integer>
		<key>enble</key>
		<false/>
		<key>itemType</key>
		<integer>4</integer>
		<key>modules</key>
		<array>
			<integer>128</integer>
		</array>
		<key>items</key>
		<array>
			<string>mask_liudehua</string>
			<string>mask_linzhiling</string>
			<string>mask_luhan</string>
			<string>mask_guocaijie</string>
			<string>mask_huangxiaoming</string>
			<string>mask_matianyu</string>
			<string>mask_tongliya</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>表情识别</string>
		<key>maxFace</key>
		<integer>4</integer>
		<key>enble</key>
		<false/>
		<key>itemType</key>
		<integer>5</integer>
		<key>modules</key>
		<array>
			<integer>2048</integer>
		</array>
		<key>items</key>
		<array>
			<string>future_warrior</string>
			<string>jet_mask</string>
			<string>sdx2</string>
			<string>luhantongkuan_ztt_fu</string>
			<string>qingqing_ztt_fu</string>
			<string>xiaobianzi_zh_fu</string>
			<string>xiaoxueshen_ztt_fu</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>背景分割</string>
		<key>maxFace</key>
		<integer>1</integer>
		<key>enble</key>
		<false/>
		<key>itemType</key>
		<integer>7</integer>
		<key>modules</key>
		<array>
			<integer>256</integer>
		</array>
		<key>items</key>
		<array>
			<string>hez_ztt_fu_mp</string>
			<string>gufeng_zh_fu_mp</string>
			<string>xiandai_ztt_fu_mp</string>
			<string>sea_lm_fu_mp</string>
			<string>ice_lm_fu_mp</string>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>人像驱动</string>
		<key>maxFace</key>
		<integer>1</integer>
		<key>enble</key>
		<false/>
		<key>itemType</key>
		<integer>11</integer>
		<key>modules</key>
		<array>
			<real>32768</real>
		</array>
		<key>items</key>
		<array>
			<string>picasso_e1</string>
			<string>picasso_e2</string>
			<string>picasso_e3</string>
		</array>
	</dict>
</array>
</plist>
